<div class="mouseOptions">
    <label>x: </label><input type="text" id ='x-coord'>
    <label>y: </label><input type="text" id ='y-coord'>
    <button id="saveAction" onclick="addActionToList()"> OK !</button>
</div>

<div class="imagecontainer">
    <div id="marca" class="marca" style="display: none;"></div>
    <img src="" id="screenshootimage">
</div>

<div class="screenShootOptions">
    <button id="screenShoot" onclick="iniciarContagemRegressiva()">Tire uma foto<img src="images/screenShotIcon.svg"></button>
</div>
