<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="Styles/mainWindow.css">
    <link rel="stylesheet" href="Styles/popupStyle.css">
    <link rel="stylesheet" href="Styles/mouseAction.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="icon" href="../botIcon.ico">
</head>
<body>
    
    <div class="codeArea">

        <div>

            <div class="taskArea">

                <button class="addTaskButton" id="addAction">Adicionar <img src="images/addTaskIcon.svg" alt=""></button>
                <div class="taskSelection" id="popupSelectAction">
                    <button id="mouseEsquerdo">mouse-esquerdo <img src="images/mouseIcon.svg"></button>
                    <button id ="mouseDireito">mouse-direito <img src="images/mouseIcon.svg"></button>
                    <button>mouse-teclado <img src="images/keyboardIcon.svg"></button>
                    <button>digite-coluna <img src="images/keyboardIcon.svg"></button>
                </div>
            
            </div>

            <div class="codeInsertArea" id="codeInsertArea">
                
            </div>

        </div>

    </div>

    
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js"></script>
    <script src="/eel.js"></script>
    <script src="../control/popupSelectAction.js"></script>;
    <script src="../control/popupActionOptions.js"></script>
    <script src="../control/screenShootCountDown.js"></script>
    <script src="../control/addActionToList.js"></script>
    <script src="../control/CodeInsert/insetHtmlElement.js"></script>
    
</body>
</html>
